.grid-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /*grid-auto-rows: minmax(100px, auto);*/
    /*width: 100vw;*/
}

.pg-title {
    grid-row: 1;
    grid-column: 2;
}

.card-tag {
    grid-column: 1;
    grid-row: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,15);
    transition: 0.3s;
    white-space: inherit;
    margin-top: 18%;
    margin-left: 18%;
    height: 45%;
    /*contain: size;*/
    /*max-height: 70%;*/
    width: 70%;
    overflow-y: auto;
}

.card-proj {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,15);
    transition: 0.3s;
    white-space: inherit;
    padding-bottom: 15px;
    margin-bottom: 12px;
}

.card-projects {
    grid-column: 2/3;
    grid-row: 1;
    margin-top: 18%;
}


.card-heading {
    text-align: center;
}

a {
    text-decoration: none;
}

#indi-tag{
    border: 2px solid #BBBBBB;
    border-radius: 5px;
    padding: 3px;
    margin-left: 7px;
    margin-bottom: 7px;
}


.project-heading {
    padding-top: 5px;
    padding-left: 15px;
}

.project-summary {
    padding-left: 18px;
}

.proj-tag {
    padding-top: 12px;
    padding-left: 10px;
}


.card-proj:hover, .card-tag:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,10);
}
