.tooltip {
    display: inline;
    text-align: center;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    font-size: 10px;
    position: absolute;
    z-index: 1;
    bottom: 10%;
  }
  
.tooltip:hover .tooltiptext {
    visibility: visible;
  }

#navbar-links {
    position: absolute;
    text-align: center;
    left: 42%;
}


.navbar-fa {
    padding-left: 15px;
}
